<!DOCTYPE html>
<html>
<head>
  <title>UiIdeas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= load_google_fonts('Francois One','Oswald','Droid Sans','Lora','Arvo', 'Droid Serif') %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
